.bloc-tabs2::-webkit-scrollbar {
  display: none;
}

/* .opensort::-webkit-scrollbar{
  display: none;
} */
/* .Tabbtn{
  width: 150px;
} */

.Tabbtn {
  outline: none;
  width: 150px;
  /* Add any common styles for the button here */
}

.active-tabs.Tabbtn {
  width: 150px;
  /* Add styles for the active state (when the dropdown is open) */
}

.tabS.Tabbtn {
  width: 150px;
  /* Add styles for the inactive state (when the dropdown is closed) */
}


input[type=checkbox] {
  width: 20px;
  height: 20px;
}
input[type=radio] {
  width: 20px;
  height: 20px;
}

.checkbox-div {
  /* display: none; */
  visibility: hidden;
}

.hover-div:hover .checkbox-div {
  /* display: flex; */
  visibility: visible;
}